APP_ENV=development
TIME_ZONE=Europe/Moscow
HTTP_HOST=0.0.0.0
HTTP_PORT=8080
POSTGRES_DSN=postgres://postgres:postgres@localhost:5432/training_tracker?sslmode=disable
REDIS_ADDR=localhost:6379
REDIS_DB=0
