swagger: "2.0"
info:
    title: TRAINING TRACKER API
    description: Описание методов взаимодействия с API приложения Training Tracker
    version: "1.0"
host: localhost:8080
consumes:
    - application/json
    - application/xml
    - application/gob
produces:
    - application/json
    - application/xml
    - application/gob
paths:
    /exercise:
        post:
            tags:
                - exercises
            summary: Создание нового упражнения
            description: Создание нового упражнения
            operationId: exercises#create
            parameters:
                - name: CreateRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/ExercisePayload'
                    required:
                        - title
                        - muscle_group
            responses:
                "201":
                    description: Created response.
                    schema:
                        $ref: '#/definitions/Exercises'
                        required:
                            - id
                            - title
                            - muscle_group
                "400":
                    description: Bad Request response.
                    schema:
                        $ref: '#/definitions/ExercisesCreateBadRequestResponseBody'
            schemes:
                - http
    /exercise/{exerciseId}:
        delete:
            tags:
                - exercises
            summary: Удаление упражнения по uuid
            description: Удаление упражнения по uuid
            operationId: exercises#delete
            parameters:
                - name: exerciseId
                  in: path
                  required: true
                  type: string
                  format: uuid
            responses:
                "204":
                    description: No Content response.
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/ExercisesDeleteNotFoundResponseBody'
            schemes:
                - http
    /exercise/all:
        get:
            tags:
                - exercises
            summary: Получение всех упражнений с пагинацией
            description: Получение всех упражнений с пагинацией
            operationId: exercises#all
            parameters:
                - name: limit
                  in: query
                  description: limit
                  required: false
                  type: integer
                  default: 1
                  minimum: 1
                - name: offset
                  in: query
                  description: offset
                  required: false
                  type: integer
                  default: 0
                  minimum: 0
            responses:
                "200":
                    description: OK response.
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Exercises'
            schemes:
                - http
    /exercise/update:
        put:
            tags:
                - exercises
            summary: Редактирование упражнения
            description: Редактирование упражнения
            operationId: exercises#update
            parameters:
                - name: UpdateRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/ExercisesUpdateRequestBody'
                    required:
                        - id
                        - title
                        - muscle_group
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/Exercises'
                        required:
                            - id
                            - title
                            - muscle_group
                "400":
                    description: Bad Request response.
                    schema:
                        $ref: '#/definitions/ExercisesUpdateBadRequestResponseBody'
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/ExercisesUpdateNotFoundResponseBody'
            schemes:
                - http
definitions:
    ExercisePayload:
        title: ExercisePayload
        type: object
        properties:
            muscle_group:
                type: integer
                description: Группа мыщц указывается в виде числа, нужна для получения упражнений по группе мыщц
                example: 1
                format: int32
                minimum: 0
                maximum: 10
            title:
                type: string
                description: Название упражнения
                example: Жим лежа на скамье
                minLength: 1
                maxLength: 50
        example:
            muscle_group: 1
            title: Жим лежа на скамье
        required:
            - title
            - muscle_group
    Exercises:
        title: Exercises
        type: object
        properties:
            id:
                type: string
                description: System-generated unique identifier
                example: 550e8400-e29b-41d4-a716-446655440000
                format: uuid
            muscle_group:
                type: integer
                description: Группа мыщц указывается в виде числа, нужна для получения упражнений по группе мыщц
                example: 1
                format: int32
                minimum: 0
                maximum: 10
            title:
                type: string
                description: Название упражнения
                example: Жим лежа на скамье
                minLength: 1
                maxLength: 50
        example:
            id: 550e8400-e29b-41d4-a716-446655440000
            muscle_group: 1
            title: Жим лежа на скамье
        required:
            - id
            - title
            - muscle_group
    ExercisesCreateBadRequestResponseBody:
        title: 'Mediatype identifier: application/vnd.goa.error; view=default'
        type: object
        properties:
            fault:
                type: boolean
                description: Is the error a server-side fault?
                example: false
            id:
                type: string
                description: ID is a unique identifier for this particular occurrence of the problem.
                example: 123abc
            message:
                type: string
                description: Message is a human-readable explanation specific to this occurrence of the problem.
                example: parameter 'p' must be an integer
            name:
                type: string
                description: Name is the name of this class of errors.
                example: bad_request
            temporary:
                type: boolean
                description: Is the error temporary?
                example: false
            timeout:
                type: boolean
                description: Is the error a timeout?
                example: true
        description: Invalid input data provided (default view)
        example:
            fault: true
            id: 123abc
            message: parameter 'p' must be an integer
            name: bad_request
            temporary: true
            timeout: false
        required:
            - name
            - id
            - message
            - temporary
            - timeout
            - fault
    ExercisesDeleteNotFoundResponseBody:
        title: 'Mediatype identifier: application/vnd.goa.error; view=default'
        type: object
        properties:
            fault:
                type: boolean
                description: Is the error a server-side fault?
                example: true
            id:
                type: string
                description: ID is a unique identifier for this particular occurrence of the problem.
                example: 123abc
            message:
                type: string
                description: Message is a human-readable explanation specific to this occurrence of the problem.
                example: parameter 'p' must be an integer
            name:
                type: string
                description: Name is the name of this class of errors.
                example: bad_request
            temporary:
                type: boolean
                description: Is the error temporary?
                example: false
            timeout:
                type: boolean
                description: Is the error a timeout?
                example: false
        description: Упражнение не найдено (default view)
        example:
            fault: true
            id: 123abc
            message: parameter 'p' must be an integer
            name: bad_request
            temporary: true
            timeout: false
        required:
            - name
            - id
            - message
            - temporary
            - timeout
            - fault
    ExercisesUpdateBadRequestResponseBody:
        title: 'Mediatype identifier: application/vnd.goa.error; view=default'
        type: object
        properties:
            fault:
                type: boolean
                description: Is the error a server-side fault?
                example: false
            id:
                type: string
                description: ID is a unique identifier for this particular occurrence of the problem.
                example: 123abc
            message:
                type: string
                description: Message is a human-readable explanation specific to this occurrence of the problem.
                example: parameter 'p' must be an integer
            name:
                type: string
                description: Name is the name of this class of errors.
                example: bad_request
            temporary:
                type: boolean
                description: Is the error temporary?
                example: true
            timeout:
                type: boolean
                description: Is the error a timeout?
                example: true
        description: Invalid update date exercise (default view)
        example:
            fault: false
            id: 123abc
            message: parameter 'p' must be an integer
            name: bad_request
            temporary: true
            timeout: true
        required:
            - name
            - id
            - message
            - temporary
            - timeout
            - fault
    ExercisesUpdateNotFoundResponseBody:
        title: 'Mediatype identifier: application/vnd.goa.error; view=default'
        type: object
        properties:
            fault:
                type: boolean
                description: Is the error a server-side fault?
                example: false
            id:
                type: string
                description: ID is a unique identifier for this particular occurrence of the problem.
                example: 123abc
            message:
                type: string
                description: Message is a human-readable explanation specific to this occurrence of the problem.
                example: parameter 'p' must be an integer
            name:
                type: string
                description: Name is the name of this class of errors.
                example: bad_request
            temporary:
                type: boolean
                description: Is the error temporary?
                example: false
            timeout:
                type: boolean
                description: Is the error a timeout?
                example: true
        description: Упражнение не найдено, проверьте UUID (default view)
        example:
            fault: true
            id: 123abc
            message: parameter 'p' must be an integer
            name: bad_request
            temporary: false
            timeout: true
        required:
            - name
            - id
            - message
            - temporary
            - timeout
            - fault
    ExercisesUpdateRequestBody:
        title: ExercisesUpdateRequestBody
        type: object
        properties:
            id:
                type: string
                example: 550e8400-e29b-41d4-a716-446655440000
                format: uuid
            muscle_group:
                type: integer
                description: Группа мыщц указывается в виде числа, нужна для получения упражнений по группе мыщц
                example: 1
                format: int32
                minimum: 0
                maximum: 10
            title:
                type: string
                description: Название упражнения
                example: Жим лежа на скамье
                minLength: 1
                maxLength: 50
        example:
            id: 550e8400-e29b-41d4-a716-446655440000
            muscle_group: 1
            title: Жим лежа на скамье
        required:
            - id
            - title
            - muscle_group
