openapi: 3.0.3
info:
    title: TRAINING TRACKER API
    description: Описание методов взаимодействия с API приложения Training Tracker
    version: "1.0"
servers:
    - url: http://localhost:8080
paths:
    /exercise:
        post:
            tags:
                - exercises
            summary: Создание нового упражнения
            description: Создание нового упражнения
            operationId: exercises#create
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ExercisePayload'
                        example:
                            muscle_group: 1
                            title: Жим лежа на скамье
            responses:
                "201":
                    description: Created response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Exercises'
                            example:
                                id: 550e8400-e29b-41d4-a716-446655440000
                                muscle_group: 1
                                title: Жим лежа на скамье
                "400":
                    description: 'bad_request: Invalid input data provided'
                    content:
                        application/vnd.goa.error:
                            schema:
                                $ref: '#/components/schemas/Error'
    /exercise/{exerciseId}:
        delete:
            tags:
                - exercises
            summary: Удаление упражнения по uuid
            description: Удаление упражнения по uuid
            operationId: exercises#delete
            parameters:
                - name: exerciseId
                  in: path
                  required: true
                  schema:
                    type: string
                    example: 550e8400-e29b-41d4-a716-446655440000
                    format: uuid
                  example: 550e8400-e29b-41d4-a716-446655440000
            responses:
                "204":
                    description: No Content response.
                "404":
                    description: 'not_found: Упражнение не найдено'
                    content:
                        application/vnd.goa.error:
                            schema:
                                $ref: '#/components/schemas/Error'
    /exercise/all:
        get:
            tags:
                - exercises
            summary: Получение всех упражнений с пагинацией
            description: Получение всех упражнений с пагинацией
            operationId: exercises#all
            parameters:
                - name: limit
                  in: query
                  description: limit
                  allowEmptyValue: true
                  schema:
                    type: integer
                    description: limit
                    default: 1
                    example: 20
                    format: int64
                    minimum: 1
                  example: 20
                - name: offset
                  in: query
                  description: offset
                  allowEmptyValue: true
                  schema:
                    type: integer
                    description: offset
                    default: 0
                    example: 0
                    format: int64
                    minimum: 0
                  example: 0
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Exercises'
                                example:
                                    - id: 550e8400-e29b-41d4-a716-446655440000
                                      muscle_group: 1
                                      title: Жим лежа на скамье
                                    - id: 550e8400-e29b-41d4-a716-446655440000
                                      muscle_group: 1
                                      title: Жим лежа на скамье
                            example:
                                - id: 550e8400-e29b-41d4-a716-446655440000
                                  muscle_group: 1
                                  title: Жим лежа на скамье
                                - id: 550e8400-e29b-41d4-a716-446655440000
                                  muscle_group: 1
                                  title: Жим лежа на скамье
                                - id: 550e8400-e29b-41d4-a716-446655440000
                                  muscle_group: 1
                                  title: Жим лежа на скамье
    /exercise/update:
        put:
            tags:
                - exercises
            summary: Редактирование упражнения
            description: Редактирование упражнения
            operationId: exercises#update
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Exercises'
                        example:
                            id: 550e8400-e29b-41d4-a716-446655440000
                            muscle_group: 1
                            title: Жим лежа на скамье
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Exercises'
                            example:
                                id: 550e8400-e29b-41d4-a716-446655440000
                                muscle_group: 1
                                title: Жим лежа на скамье
                "400":
                    description: 'bad_request: Invalid update date exercise'
                    content:
                        application/vnd.goa.error:
                            schema:
                                $ref: '#/components/schemas/Error'
                "404":
                    description: 'not_found: Упражнение не найдено, проверьте UUID'
                    content:
                        application/vnd.goa.error:
                            schema:
                                $ref: '#/components/schemas/Error'
components:
    schemas:
        Error:
            type: object
            properties:
                fault:
                    type: boolean
                    description: Is the error a server-side fault?
                    example: false
                id:
                    type: string
                    description: ID is a unique identifier for this particular occurrence of the problem.
                    example: 123abc
                message:
                    type: string
                    description: Message is a human-readable explanation specific to this occurrence of the problem.
                    example: parameter 'p' must be an integer
                name:
                    type: string
                    description: Name is the name of this class of errors.
                    example: bad_request
                temporary:
                    type: boolean
                    description: Is the error temporary?
                    example: true
                timeout:
                    type: boolean
                    description: Is the error a timeout?
                    example: true
            description: Invalid input data provided
            example:
                fault: false
                id: 123abc
                message: parameter 'p' must be an integer
                name: bad_request
                temporary: true
                timeout: false
            required:
                - name
                - id
                - message
                - temporary
                - timeout
                - fault
        ExercisePayload:
            type: object
            properties:
                muscle_group:
                    type: integer
                    description: Группа мыщц указывается в виде числа, нужна для получения упражнений по группе мыщц
                    example: 1
                    format: int32
                    minimum: 0
                    maximum: 10
                title:
                    type: string
                    description: Название упражнения
                    example: Жим лежа на скамье
                    minLength: 1
                    maxLength: 50
            description: Необходимые поля для создания упражнения
            example:
                muscle_group: 1
                title: Жим лежа на скамье
            required:
                - title
                - muscle_group
        Exercises:
            type: object
            properties:
                id:
                    type: string
                    description: System-generated unique identifier
                    example: 550e8400-e29b-41d4-a716-446655440000
                    format: uuid
                muscle_group:
                    type: integer
                    description: Группа мыщц указывается в виде числа, нужна для получения упражнений по группе мыщц
                    example: 1
                    format: int32
                    minimum: 0
                    maximum: 10
                title:
                    type: string
                    description: Название упражнения
                    example: Жим лежа на скамье
                    minLength: 1
                    maxLength: 50
            description: Модель Списка Упражнений с UUID
            example:
                id: 550e8400-e29b-41d4-a716-446655440000
                muscle_group: 1
                title: Жим лежа на скамье
            required:
                - id
                - title
                - muscle_group
        ExercisesModel:
            type: object
            properties:
                muscle_group:
                    type: integer
                    description: Группа мыщц указывается в виде числа, нужна для получения упражнений по группе мыщц
                    example: 1
                    format: int32
                    minimum: 0
                    maximum: 10
                title:
                    type: string
                    description: Название упражнения
                    example: Жим лежа на скамье
                    minLength: 1
                    maxLength: 50
            description: Список доступных упражнений
            example:
                muscle_group: 1
                title: Жим лежа на скамье
        WorkoutModel:
            type: object
            properties:
                date:
                    type: string
                    description: Дата проведение тренировки
                    example: "2025-12-08"
                    format: date
                duration:
                    type: integer
                    description: На фронте нужно будет преобразовывать из секунд в дату, так удобнее хранить в БД
                    example: "5440"
                    format: int64
                    minimum: 60
                    maximum: 14400
                title:
                    type: string
                    description: Название тренировки
                    example: Тренировка верхней поверхности бедра
                    minLength: 1
                    maxLength: 50
            description: Модель тренировок
            example:
                date: "2025-12-08"
                duration: "5440"
                title: Тренировка верхней поверхности бедра
tags:
    - name: exercises
      description: Сервис для CRUD операция с моделью Exercises(Упражнения)
